<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-menu">
        <div class="navbar-start">
            <a href="/index" id="index" class="navbar-item is-hoverable">Inicio</a>
            <a href="/sobreMi" id="sobreMi" class="navbar-item is-hoverable">Sobre mí</a>
            <a href="/miGithub" id="miGithub" class="navbar-item is-hoverable">Mi GitHub</a>
            <a href="/datosCuriosos" id="datosCuriosos" class="navbar-item is-hoverable">Datos curiosos</a>
            <a href="/pasatiempos" id="pasatiempos" class="navbar-item is-hoverable">Pasatiempos</a>
            <a href="/contacto" id="contacto" class="navbar-item is-hoverable">Contacto</a>
        </div>
    </div>
</nav>