<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <title>Sobre Mi</title>
</head>
<body class="container is-max-desktop">
    <section class="">
        <h1 class="title is-1">Mi Github</h1>
        <p><a href="https://github.com/TheSimpleMau">Da click aquí para ver mi repositorio!</a></p><br>
        <p class="is-size-5">
            Ahí podrás encontrar repositorios cómo <a href="https://github.com/TheSimpleMau/SimpleGrapher">SimpleGrapher</a>.
            En este proyecto, creé una pequeña aplicación en python que tiene la intención de ser, de forma introductoria,
            una pequeña demostración de cómo es que se puede ver una gráfica hecha con python.
        </p>
    </section>
</body>
</html>