<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <title>Laboratorios</title>
</head>
<body class="container is-max-desktop">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-menu">
            <div class="navbar-start">
                <a href="/sobreMi" id="sobreMi" class="navbar-item is-hoverable">Sobre mí</a>
                <a href="/miGithub" id="miGithub" class="navbar-item is-hoverable">Mi GitHub</a>
                <a href="/datosCuriosos" id="datosCuriosos" class="navbar-item is-hoverable">Datos curiosos</a>
                <a href="/pasatiempos" id="pasatiempos" class="navbar-item is-hoverable">Pasatiempos</a>
                <a href="/contacto" id="contacto" class="navbar-item is-hoverable">Contacto</a>
                <a href="/blog" id="blog" class="navbar-item is-hoverable">Blog</a>
            </div>
        </div>
    </nav>
    <div class="content">
        <div class="columns is-vcentered">
            <div class="column">
                <h1 class="title is-1">Mauricio Olguín Sánchez</h1>
                <p class="is-size-4">¡Hola! Esta es mi página personal, aquí podrás descubrir cosas sobre mí :D</p>
            </div>
            <div class="column is-narrow">
                <figure class="image is-128x128">
                    <img class="is-rounded" src="/imgs/io_fotografo_low_quality.jpeg" alt="Mauricio con su cámara fotográfica, de perfil">
                </figure>
            </div>
        </div>
    </div>
    <div class="content">
        <h1 class="title is-1">¿Qué es esto?</h1>
        <p class="is-size-5">
            Si quieres saber lo básico de mi, visita la pestaña de <a href="sobreMi">Sobre mi</a>.
        </p>
        <p class="is-size-5">
            En cambio, si quieres saber los trabajos que he realizado en GitHub, visita la pestaña de <a href="miGithub">Mi Github</a>.
        </p>
        <p class="is-size-5">
            Visita la página de <a href="datosCuriosos">Datos curiosos</a> para saber datos curiosos que probablemente diría si es que nos
            encontraramos alguna vez.
        </p>
        <p class="is-size-5">
            ¿Quieres saber cuales son mis pasatiempos? ¡visita la página de <a href="pasatiempos">pasatiempos</a> para saberlos!
        </p>
        <p class="is-size-5">
            Por útltimo, si hablar conmigo, visita mi página de <a href="contacto">contacto</a>.
        </p>
    </div>
    <div class="content">
        <h1 class="title is-1">Preguntas Laboratorio 13</h1>
        <h2 class="title is-2">
            ¿Qué beneficios encuentras en el estilo MVC?
        </h2>
        <p class="is-size-5">
            Principalmente, orden. Con este estilo, tengo mayor claridad de lo que estoy haciendo y cómo lo estoy haciendo, así,
            puedo también detectar más rápido cuando tengo un error en dónde y por qué es que tengo ese error. Además, este estilo
            perimte que su escalabilidad sea más optimia y sencilla.
        </p>
        <h2 class="title is-2">
            ¿Encuentras alguna desventaja en el estilo arquitectónico MVC?
        </h2>
        <p class="is-size-5">
            Una posible desventaja podría ser la curva de aprendizaje, pues a decir verdad, puede resultar un poco confusa al principio.
            Además, si se trabaja en un proyecto pequeño, puede añadir una complejidad al sistema que probablemente no sea necesaria. Por
            último, debido a que este estilo separa mucho los datos y la lógica de presentación, podría introducir una sobrecarga adicional 
            para la comunicación entre los componentes.
        </p>
    </div>
</body>
</html>