<%- include('includes/_header.ejs', {title: 'Inicio'})%>
<%- include('includes/_nav.ejs')%>
<div class="content">
    <div class="columns is-vcentered">
        <div class="column">
            <h1 class="title is-1">Mauricio Olguín Sánchez</h1>
            <p class="is-size-4">¡Hola! Esta es mi página personal, aquí podrás descubrir cosas sobre mí :D</p>
        </div>
        <div class="column is-narrow">
            <figure class="image is-128x128">
                <img class="is-rounded" src="/imgs/io_fotografo_low_quality.jpeg" alt="Mauricio con su cámara fotográfica, de perfil">
            </figure>
        </div>
    </div>
</div>
<div class="content">
    <h1 class="title is-1">¿Qué es esto?</h1>
    <p class="is-size-5">
        Si quieres saber lo básico de mi, visita la pestaña de <a href="sobreMi">Sobre mi</a>.
    </p>
    <p class="is-size-5">
        En cambio, si quieres saber los trabajos que he realizado en GitHub, visita la pestaña de <a href="miGithub">Mi Github</a>.
    </p>
    <p class="is-size-5">
        Visita la página de <a href="datosCuriosos">Datos curiosos</a> para saber datos curiosos que probablemente diría si es que nos
        encontraramos alguna vez.
    </p>
    <p class="is-size-5">
        ¿Quieres saber cuales son mis pasatiempos? ¡visita la página de <a href="pasatiempos">pasatiempos</a> para saberlos!
    </p>
    <p class="is-size-5">
        Además, puedes revisar mis pensamientos (o temas randoms) en mi sección de <a href="blog">blog</a>
    </p>
    <p class="is-size-5">
        Por útltimo, si hablar conmigo, visita mi página de <a href="contacto">contacto</a>.
    </p>
</div>
<div class="content">
    <h1 class="title is-1">Preguntas Laboratorio 18</h1>
    <h2 class="title is-2">
        ¿Qué otras formas de autentificación existen?
    </h2>
    <p class="is-size-5">
        De las más populares, tenemos las siguientes formas:
        <ul class="is-size-5">
            <li>
                <strong>Autenticación de dos factores (2FA):</strong> Este método añade una capa adicional de seguridad al 
                requerir, además de la contraseña, una segunda forma de verificación, como un código enviado al 
                teléfono del usuario o una aplicación de autenticación
            </li>
            <li>
                <strong>Autenticación biométrica:</strong> Se basa en características físicas únicas del usuario, como 
                huellas dactilares, reconocimiento facial o de iris.
            </li>
            <li>
                <strong>Autenticación basada en tokens:</strong> Utiliza tokens de seguridad que se generan al iniciar sesión y se 
                utilizan para validar al usuario en posteriores interacciones con el sistema.
            </li>
            <li>
                <strong>Single Sign-On (SSO):</strong> Permite a los usuarios acceder a múltiples aplicaciones o sistemas con una sola autenticación. 
                Una vez que el usuario inicia sesión en un sistema, puede acceder a otros relacionados sin necesidad de volver a autenticarse.
            </li>
        </ul>
    </p>
    <p class="is-size-5">
        La elección del método de autenticación adecuado depende de las necesidades específicas de la aplicación y del nivel de 
        seguridad requerido. En muchos casos, combinar múltiples métodos, como la autenticación de dos factores junto con biometría, 
        puede ofrecer una protección más robusta contra accesos no autorizados.
    </p>
</div>
<div class="footer">
    <h1 class="title is-1">Referencias</h1>
    <p class="is-size-5">C, D. (2025, Febrero 20). Autenticación en HTTP 👮: Métodos y Estrategias para Proteger tu Aplicación 💪🔒. Medium. <a href="https://medium.com/%40diego.coder/tipos-de-autenticaci%C3%B3n-en-http-d773dc63a392">https://medium.com/%40diego.coder/tipos-de-autenticaci%C3%B3n-en-http-d773dc63a392</a></p>
    <p class="is-size-5">Vergara, S. (2023, Septiembre 26). Métodos de autenticación modernos: Autenticación web. Blog ITDO - Agencia De Desarrollo Web, APPs Y Marketing En Barcelona. <a href="https://www.itdo.com/blog/metodos-de-autenticacion-modernos-autenticacion-web/">https://www.itdo.com/blog/metodos-de-autenticacion-modernos-autenticacion-web/</a></p>
</div>
<%- include('includes/_footer.ejs')%>