body {
    margin: 0 auto;
    max-width: 50em;
    font-family: "Helvetica", "Arial", sans-serif;
    color: #555;
}

h1, strong {
    /* color: #333; */
    margin: 1em;
    background-color: #d6d3d6;
    border-radius: 20px;
    padding-inline: 1em;
    text-align: center;
}

img {
    width: 50%;
    margin: 0 auto;
    display: block;
}