pre {
    max-width: 50em;
    margin: 0 auto;
    display: block;
}

pre, code {
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 4px 8px;
    display: inline-block;
    white-space: pre-wrap;
}