.monomakh-regular {
    font-family: "Monomakh", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0 auto;
    max-width: 50em;
    color: #555;
    font-family: "Roboto", "Arial", sanserif;
}

h1, strong {
    margin: 1em;
    background-color: #d6d3d6;
    border-radius: 20px;
    padding-inline: 1em;
    text-align: center;
}

img {
    width: 50%;
    margin: 0 auto;
    display: block;
}

table, th, td {
    margin: auto;
    padding: 0 1em;
    border: 2px solid;
    border-collapse: collapse;
    text-align: center;
}

pre, code {
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 4px 8px;
    display: inline-block;
    white-space: pre-wrap;
}